version: "3.9"

services:
  frontend:
    image: frontend:latest
    container_name: frontend
    ports:
      - "4000:4000"
    restart: unless-stopped
    networks:
      - city-flow

networks:
  city-flow:
    driver: bridge
