name: Test Docker Build

on:
  push:
    branches:
      - dev
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service:
          - src/services/ingestion
          - src/frontend
          # - src/services/prediction
          # - src/services/routing

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Build Docker image uniquement (pas de push)
      - name: Build Docker image
        run: |
          echo "Building service: ${{ matrix.service }}"
          docker build -t test-${{ matrix.service }} ${{ matrix.service }}
